<ion-content>
  <div style="height: 50vh; width: 100vw; background-color: yellow; margin: 0%;  padding: 0%;" (touchstart)="startRecord()" (touchend)="stopRecord()">
    <h1 style="margin: 0%;  padding: 0%; padding-top: 50%; padding-left: 40%;">Voice</h1>
  </div>
  <div style="height: 50vh; width: 100vw; background-color: orange; margin: 0%; padding: 0%;" (click)="takePicture()">
    <h1 style="margin: 0%;  padding: 0%; padding-top: 50%; padding-left: 35%;">Camera</h1>
  </div>

  <!-- <div style="height: 25vh; width: 100vw; background-color: yellow;" (touchstart)="startRecord()" (touchend)="stopRecord()">
    Voice
  </div>
  <div style="height: 25vh; width: 100vw; background-color: red;" (click)="playAll()">
    Play
  </div>
  <div style="height: 50vh; width: 100vw; background-color: orange;" (click)="takePicture()">
    Camera
  </div> -->
</ion-content>
